useDynLib(MultOrd, .registration = TRUE)

S3method(print, MultOrd)

exportClasses("MultOrd")

export(multord, ctrl.multord)


importFrom(statmod, gauss.quad)
importFrom(Rcpp, evalCpp)

S3method(plot, MultOrd)