useDynLib(MultOrd, .registration = TRUE)

importFrom(statmod, gauss.quad)
importFrom(Rcpp, evalCpp)

exportClasses("MultOrd")
export(multord, ctrl.multord)

S3method(plot, MultOrd)
S3method(print, MultOrd)